# STREAMLIT UI
streamlit

# LANGCHAIN & VECTOR DB
langchain
langchain-google-genai==2.1.5
faiss-cpu
langchain-cohere
# GOOGLE GEMINI SDK (VERSI COCOK)
google-ai-generativelanguage==0.6.18

# LLM TOOLS
openai
pandas
scikit-learn

# ENVIRONMENT VARIABLE HANDLING
python-dotenv

# Untuk membaca file PDF
PyPDF2
pdfplumber

# Untuk menghitung token (digunakan di callback handler)
tiktoken

# Library terjemahan
deep-translator

googlesearch-python
google-search-results
